snippet * ""  
**$1**$2
endsnippet

snippet ** "" 
**$1**$2
endsnippet

snippet - ""  
**$1** - $2
endsnippet

snippet A ""  -b 
**Answer**  {{{
$1 
}}}
endsnippet

snippet table "" 
| $1      | $2      |
|---------|---------|
| $3      | $4      |
endsnippet

snippet d ""  
*`date +%T`*
$1
endsnippet

snippet diary ""  
*`date +%T`*
$1
endsnippet
